@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
}

body {
    scrollbar-width: 0;
}


.btn-secondary {
    @apply bg-stone-700 px-8 py-2 text-white rounded-md focus:ring-4 focus:ring-stone-300 active:bg-stone-900;
}

.btn-primary {
    @apply bg-emerald-500 px-8 py-2 text-white rounded-md focus:ring-4 focus:ring-emerald-200 active:bg-emerald-700;
}

.btn-primary-outline {
    @apply border border-emerald-500 px-8 py-2 rounded-md focus:ring-4 focus:ring-emerald-200 active:border-emerald-700 active:text-emerald-700;
}

.bg-dotted {
    background-size: 100%;
    background: black url(/dotted-background.png);
}